/* ----- Specification -----*/

body {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: #000000;
	overflow-x: hidden;
}

.animated {
	opacity: 0;
}

/** {
	transition: all 0.3s ease;
}*/

ul, li, p {
	display: block;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: 900;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #000;
}


h2 {
	font-size: 58px;
}

div, section, form, button, span, p {
	box-sizing: border-box;
}

section {
	
}

button, input, input:hover, input:active, input:focus {
	outline: none;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.red {
	color: #f34646;
}

p {
	line-height: 1.5em;
}

.button {
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 900;
	cursor: pointer;
	box-shadow: 0px 0px 80px rgba(0,0,0,0.2);
	border: none;
	background: #ffde00;
	font-size: 20px;
	padding: 0;
	transition: all 0.3s ease;
}

.button:hover {
	background: #ffc600;
	color: #fff;
}

.button:active {
	background: #d12424;
}

.btn_link {
	font-size: 17px;
	background: none;
	margin-left: 20px;
	text-decoration: underline;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn_link i {
	margin-right: 10px;
	margin-top: 3px;
}

.bold {
	font-weight: 700;
}

.black {
	font-weight: 900;
}

.bg_yellow {
	background: #ffde00;
	padding: 0 10px;
}


/*	Header Section  */

.header {
	background: #e0e2de url(../pic/Greywall_bg.jpg) center top;
	overflow: hidden;
}

.offer-left {
	padding-top: 100px;
}

.offer-right {
	padding-top: 30px;
	margin: 0 auto;
}

.main-photo {

}

.description__logo {
	border: 7px solid #000000;
	width: 103px;
	height: 103px;
	font-size: 76px;
	font-weight: 700;
	text-align: center;
	margin-right: 40px;
	
}

.description__title {
	font-size: 48px;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 8px;
}

.main-title {
	width: 700px;
	margin: 43px 0;
	font-size: 61px;
}

.questions__item {
	margin-bottom: 5px;
}
.questions__title {
	width: 15px;
    height: 15px;
    background: #000000;
    border: 3px solid #ffde00;
    margin: 5px 19px 0 0;
}

.questions {
	width: 750px;
	padding-bottom: 40px;
}

.questions__text {
	font-size: 19px;
}

.offer-left__button {
	padding: 3% 5%;
	color: #000;
	text-align: center;
}

.offer-left__button i{
	margin-right: 10px;
	margin-top: 3px;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #000;
	margin: auto;
}

/*youknow section*/

.younow {

}

.doyounow {
	width: 700px;
	padding-top: 55px;
}

.developer-logo {
	width: 120px;
	padding: 0 15px;
}

.doyounow__title {
	margin-top: 30px;	
}

.doyounow__text {
	font-size: 22px;
	line-height: 1.4;
}

.autor {
	width: 467px;	
	padding: 75px 75px 90px 75px;
	background: #ededed;
	color: 	#454545;
}

.autor__name {
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 15px;	
}

.autor__description {
	font-size: 17px;	
}

.autor__skills {
	margin: 30px 0;	
	justify-content: space-between;
}

.autor__skills span {
	font-size: 39px;		
}

.autor__number {
	margin-right: 10px;
}

.autor__text {
	font-size: 12px;
	font-weight: 600;
	margin: auto 0;
	text-transform: uppercase;
	line-height: 1.2;
}

.autor__more {
	font-size: 17px;
	color: 	#454545;
	padding-bottom: 3px;		
	border-bottom: 1px dotted #454545;	
}


/*	Webdesign Section  */
.webdesign {
	background: #000000;
	color: #fff;
}

.webdesign-left {
	width: 700px;
	padding-top: 85px;
	padding-bottom: 40px;
}

.webdeveloper-list li{
	display: inline-block;
}

.webdeveloper-list p{
	text-align: center;
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 40px;
}

.webdesign-left__title {
	
}

.webdesign-left__text {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.4em;
}

.webdesign-right {
	width: 467px;
	background: #ffde00;
	color: #000;
	font-weight: 900;
	padding: 100px 75px;
}

.webdesign-right__money {
	font-size: 72px;
}

.webdesign-right__mouns {
	text-transform: uppercase;
	font-size: 34px;
}

/*	Iwillseeyou Section*/

.iwillseeyou {
	padding-top: 100px;
}

.capabilities {
	margin: 70px 0;
	justify-content: space-around;
}

.capabilities__number {
	text-align: center;
	padding: 15px 30px;
	margin-right: 28px;
	width: 95px;
	height: 95px;
	font-size: 43px;
	font-weight: 900;
	border: 6px solid #000;
}

.capabilities__title {
	font-size: 21px;
	line-height: 1.3em;	
}

.capabilities__text {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.3em;
}

.bigline {
	position: relative;
	height: 160px;
	overflow-x:hidden;
}

/* Bigline Section*/

.bigline-text {
	font-size: 92px;
	text-transform: uppercase;
	font-weight: 900;
	color: #b1b1b1;
	position: absolute;
	left: -30px;
}


/* Design Section*/

.design-left {
	width: 700px;
}

.design-right {
	margin-bottom: 20px;
}

.design__title {
	margin-bottom: 50px;
}

.design-left__box {
	width: 15px;
    height: 15px;
    background: #000000;
    border: 3px solid #ffde00;
    margin: 5px 19px 0 0;
}

.design-left__item {
	margin-bottom: 1c5px;
}

.design-lift__title {
	font-size: 18px;
	line-height: 2em;
}

.design-left__link {
	font-size: 15px;
}

.design-left__link {
	color: #646464;
}

.design-left__link a {
	color: #000;
	font-weight: 900;
}

.reverce {
	margin-top: 12px;
	background: #ffde00;
	border: 6px solid #000000;
}

.design-left__item_bold {
	margin: 48px 0 98px;
}

.design-lift__title_bold {
	font-size: 34px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
}

.design-left_wrapper {
	font-size: 30px;
	margin-bottom: 20px;
}

.design-left_wrapper a {
	margin-right: 30px;
}


/*	ifyou section */
.ifyou {
	background: #000;
	color: #fff;
	padding: 85px 0;
	font-size: 20px;
	font-weight: 900;
	text-transform: uppercase;
}

.yellow {
	color: #ffde00;
}

.ifyou-title {
	margin-bottom: 50px;
}

.ifyou-items__item {
	margin-right: 20px;
}

.ifyou-items__item img{
	width: 73px;
	height: 73px;
	margin-right: 25px;
}


/* registration section*/

.registration {
	background: #ffde00;
}

.registration h2 {
	padding-top: 80px;
	margin-bottom: 60px;
}

.reg-time {
	font-size: 37px;
	text-transform: uppercase;
}

.reg-time_title {
	margin-right: 15px;
	padding: 15px 0;
}

.background-yellow {
	background: #ffde00;
	padding: 15px 20px 15px 28px; 
}

.reg-time_info {
	padding: 15px 10px;
}

.form__title {
	font-size: 23px;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.form__title span {
	color: #ffde00;
	background: #000;
	padding: 5px;
}

form {
	margin-bottom: 40px;
}


input {
	width: 265px;
	height: 67px;
	border: 0;
	font-size: 18px;
	margin-right: 15px;
	box-shadow: 0px 0px 80px rgba(0,0,0,0.2);
	padding-left: 30px;
}

.form__button {
	height: 67px;
	width: 225px;
}


.form__description {
	font-size: 12px;
	text-transform: uppercase;
	padding-bottom: 80px;
}

.form__description i {
	padding-right: 5px;
}


/*	Footer Section  */

.footer {
	padding: 70px 0 60px 0;
	color: #fff;
	background: #000;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 300;
}

.credits__item {
	margin-right: 100px;
}

.credits__item2 {
	margin-right: 135px;
}

.credits__welcome {
	color: #fff;

}



/*Responsive*/


/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}

	/*.description__logo {
		color: green;
	}*/
	
	h2 {
		font-size: 50px;
	}

	.capabilities__item {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	    width: 300px; 
	}

	.capabilities__number {
		margin-bottom: 20px;
	}

	.bg_yellow {
		display: block;
	}

	.design-left_wrapper {
		display: flex;
		text-align: center;
		font-size: 30px;
	}

	.design-left_wrapper i {
		font-size: 60px;
	}

	.design-left {
		margin-right: 40px;
	}

	.design-left__item_bold {
    	margin: 48px 0;
	}


	.developer-logo {
    	width: 100px;
    }


	.main-title {
		font-size: 55px;
	}

	.description {
		
	}

	.capabilities__item_1 {
		flex-direction: column;
	}

	.capabilities__item_2 {
		flex-direction: column;
	}

	.capabilities__item_3 {
		flex-direction: column;
	}

	input {
		width: 20%;
	}

	.credits {
		-webkit-justify-content: space-around;
		        justify-content: space-around;
	}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
		flex-direction: column;
		text-align: center;
	}

	/*.description__logo {
		color: red;
	}*/

	.offer-left {
		padding-top: 20px;
	}


	.main-title {
		font-size: 50px;
		width: 450px;
		margin: 25px 0;
	}

	.questions {
		width: 100%;
		padding-bottom: 40px;
	}

	.questions__text {
    	font-size: 17px;
	}

	#header .container {
		flex-direction: row;
		text-align: left;
	}

	.design-left {
    	width: 100%;
	}

	.design-left_wrapper, a {
		justify-content: space-around;
	}

	.design-left_wrapper a {
		margin: 0;
	}

	.autor {
		width: 90%;
		margin: 0 auto;
	}

	.capabilities__number {
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.design-right img {
		width: 100%;
		max-width: 471px;
		margin-bottom: 20px;
	}


	.webdesign-right {
		width: 90%;
		margin: 0 auto;
	}

	.doyounow {
		justify-content: space-around;
		width: 100%;
		padding-bottom: 55px;
	}

	.bg_yellow {
		display: inline;
	}

	.ifyou-items__item {
		flex-direction: column;
		text-align: center;
		margin: 0 auto;
	}

	.ifyou-items__item img{
		margin: 0 auto;
	}

	.design-right img {
		display: block;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	input {
		display: block;
		width: 90%;
		margin: 20px auto;
		
	}

	.form__button {
		width: 100%;
	}

	/*.offer {
		flex-direction: column;
	}
*/

}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}

	/*.description__logo {
		color: yellow;
	}*/

	.webdesign-left {
		width: 100%;
	}

	.design-left__items {
		text-align: left;
	}

	.design-lift__title_bold {
		width: 330px;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.design-right {
		margin-top: 20px;
	}

	.offer-left {
		width: 70%;
	}

}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}

	/*.description__logo {
		color: blue;
	}*/

	.description {
		justify-content: center;
	}

	.main-title {
		width: 100%;
		font-size: 35px;
		text-align: center;
	}

	.questions {
		padding-bottom: 40px;
	}

	.questions__text {
		font-size: 14px;
	}

	.offer-left__button {
		width: 90%;
		margin-bottom: 10px;
	}

	.offer-left {
		padding-bottom: 30px;
	}

	h2 {
		font-size: 30px;
	}

	.btn_link {
		text-align: center;
	}


	.offer-left {
		width: 100%;
	}

	.webdesign-right {
		width: 90%;
	}

	.reg-time {
		font-size: 25px;
	}

	.credits__item {
		margin: 0;
	}

	.credits__item2 {
		margin: 0;
	}

	.credits {
		flex-direction: column;
	}

	.ifyou-items {
		flex-direction: column;
	}

	.autor__skills {
		flex-direction: column;
	}

	.offer-right {
		display: none;
	}

	.capabilities {
		display: inline-block;
	}

	.capabilities__item {
		width: 100%;
		margin-bottom: 35px;
	}

	.bigline-text {
		font-size: 60px;
	}

	.design-lift__title_bold {
		width: auto;
		font-size: 20px;
	}

	.design-left_wrapper {
		font-size: 15px;
	}

	.design-lift__title {
	    font-size: 14px;
	    line-height: 1.6em;
	}

	.design-left__item {
		margin-bottom: 10px;
	}

	.ifyou-items__item {
		margin-bottom: 15px;
	}

	.webdesign-right, .autor {
		padding: 20%;
	}

	.social-icon {
		display: block;
	}

	.credits__item2 {
		margin: 10px 0;
	}

	.description__logo {
		margin-right: 15px;
		font-size: 45px;
		width: 65px;
		height: 65px;
		border: 6px solid #000000;
	}

	.description__title {
		font-size: 25px;
	}

	.triangle-down {
	    width: 0;
	    height: 0;
	    border-left: 15px solid transparent;
	    border-right: 15px solid transparent;
	    border-top: 15px solid #000;
	    margin: auto;
	}


}






